{% load i18n tagging_tags comments zinnia_tags %}

<div id="comments" class="spread">
  <h3>{% trans "Comments" %}</h3>
  {% with object.comments as comment_list %}
  {% if comment_list.count %}
    <a name="comments"></a>
    <ol id="comment-list" class="span-15 last">
      {% for comment in comment_list %}

      <li id="comment-{{ comment_id }}" class="comment even thread-even depth-1">
          <a name="comment_{{ comment.id }}"></a>
          <div class="comment-body" id="div-comment-{{ comment.id }}">
          <div class="comment-author vcard">
            <img width="48" height="48"
               class="avatar avatar-48 photo"
               src="{% get_gravatar comment.email 60 "G" %}"
               alt="{{ comment.user_name }}">
            <cite class="fn">{{ comment.user_name }}</cite><span class="says">{% trans "says" %}:</span>
          </div>
          <div class="comment-meta commentmetadata">
            <a href="">{{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}</a>
          </div>
	      <p>{{ comment.comment }}</p>
      </li>
      {% endfor %}
    </ol>

    {% if not object.comments_are_open %}
      <p>{% trans "Comments are closed." %}</p>
    {% endif %}

  {% else %}
    {% if object.comments_are_open %}
      <p>{% trans "No comments yet." %}</p>
    {% else %}
      <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% endif %}
  {% endwith %}
</div>
