{% load i18n tagging_tags comments zinnia_tags %}

<div class="pageNav">
  {% with object.previous_entry as previous_entry %}
  {% if previous_entry %}
  <div class="prev">
    <a rel="prev" href="{{ previous_entry.get_absolute_url }}">« {% trans "Previous entry" %}</a>
  </div>
  {% endif %}
  {% endwith %}

  {% with object.next_entry as next_entry %}
  {% if next_entry %}
  <div class="next">
    <a rel="next" href="{{ next_entry.get_absolute_url }}">{% trans "Next entry" %} »</a>
  </div>
  {% endif %}
  {% endwith %}

</div>
