{% load i18n tagging_tags zinnia_tags markup %}

<div class="post hentry">
  <h5 class="postDate"><abbr class="published">{{ object.creation_date|date:"d M Y" }}</abbr></h5>
  <div class="postContent">
    <h3 class="entry-title"><a rel="bookmark" href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
    <div class="entry-content">
      {% with object.excerpt|markdown|safe as object_content %}
      {{ object_content }}
      {% endwith %}
      <a class="read" href="{{ object.get_absolute_url }}">{% trans "read" %}</a>
    </div>
  </div>
  <div class="postMeta">
    <div class="comments">
      {% with object.comments as comment_list %}
      <a title="{% trans "comments" %}" href="{{ object.get_absolute_url }}#comments">{{ comment_list.count }} 
      {% if comment_list.count > 1%}{% trans "comments" %}{% else %}{% trans "comment" %}{% endif %}
      </a>
      {% endwith %}
    </div>
  </div>
</div>
