{% extends "zinnia/base.html" %}
{% load i18n tagging_tags comments zinnia_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block meta-description %}{% if object.excerpt %}{{ object.excerpt|striptags }}{% else %}{{ object.content|striptags|truncatewords:100 }}{% endif %}{% endblock %}

{% block link %}
  {{ block.super }}
  {% with object.previous_entry as previous_entry %}{% if previous_entry %}
  <link rel="prev" title="{{ previous_entry.title }}" href="{{ previous_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% with object.next_entry as next_entry %}{% if next_entry %}
  <link rel="next" title="{{ next_entry.title }}" href="{{ next_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% if object.short_url %}
  <link rel="shortlink" href="{{ object.short_url }}" />
  {% endif %}
  <link rel="canonical" href="{{ object.get_absolute_url }}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of discussions on" %} '{{ object.title }}'" href="{% url zinnia_entry_discussion_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of comments on" %} '{{ object.title }}'" href="{% url zinnia_entry_comment_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of pingbacks on" %} '{{ object.title }}'" href="{% url zinnia_entry_pingback_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of trackbacks on" %} '{{ object.title }}'" href="{% url zinnia_entry_trackback_feed object.slug %}" />
{% endblock %}

{% block content %}

<div class="post hentry single">
  <div class="postContent">
    <h3 class="entry-title">{{ object.title }}</h3>
    <h4 class="vcard author">{% trans "Written by" %}
      {% for author in object.authors.all %}
        <span class="fn">{{ author }}</span>
      {% endfor %}
    </h4>
    <div class="entry-content">
      {% with object.html_content|safe as object_content %}
      {{ object_content }}
      {% endwith %}
    </div>
  </div>
  {% include "zinnia/entry_meta.html" %}
</div>

{% include "zinnia/comments.html" %}
{% include "zinnia/trackbacks.html" %}
{% include "zinnia/pingbacks.html" %}

{% if object.comments_are_open %}
  {% render_comment_form for object %}
{% endif %}

{% include "zinnia/entry_nav.html" %}

{% endblock %}

{% block admin_tools %}
{% if perms.zinnia.change_entry %}
<li>
  <a href="{% url admin:zinnia_entry_change object.pk %}" title="{% trans "Edit the entry" %}">
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}

{% endblock %}
