{% extends "zinnia/base.html" %}
{% load i18n comments zinnia_tags %}

{% block title %}{% endblock %}

{% block meta-description %}{% endblock %}

{% block content %}

<p>Besoin de ressources? on peut peut-être travailler ensemble! Je prends de temps en temps des contrats.</p>

<p>Généralement, ce sont des contrats plutôt Web, de préférence
en Python, mais j'ai pas mal de vécu en PHP.</p>

<p>Je travaille toujours à distance, en utilisant des plateformes 
de gestion de projets informatiques (redmine) et des gestionnaires de versions (git).</p>

<p>Je suis en mesure de proposer 10H à 12H de travail par semaine de Montréal (GMT-6).</p>

<p>Que ce soit pour un projet, ou tout simplement pour prendre contact avec moi, 
n'hésitez-pas, le formulaire est là pour ça!</p>

<p>Olivier Larchevêque</p>

<form class="contact" action="" method="post">
  {{ form.as_p }}
  <p>
  <input type="submit" value="Envoyer" />
  </p>
</form>

{% endblock content %}

